# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.env

# Flask stuff
instance/
.webassets-cache

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env